Repository oxyno-zeta/opa-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
  - repo: https://github.com/prettier/pre-commit
    # Use the sha or branch you want to point at
    rev: v2.0.0
    hooks:
      - id: prettier
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.7.1.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: backend-lint
        files: \.go$
        name: Backend Lint
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/lint"
        require_serial: true
        language: script
      - id: backend-graphql-concat
        files: \.graphql$
        name: Backend graphql concat
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/concat"
        require_serial: true
        language: script
      - id: backend-graphql-no-break-check
        files: \.graphql$
        name: Backend graphql no breaking check
        entry: ./run-sub-folder-task.sh
        args:
          - backend
          - "make code/graphql/no-break-check"
        require_serial: true
        language: script

docs(decisionlogs): Remove todos
  backend/pkg/opa-center/business/decisionlogs/daos/mappers.go
Due: backend-lint

tests(decisionlogs): Fix build tag in daos tests
  backend/pkg/opa-center/business/decisionlogs/daos/mappers_test.go
Due: backend-lint

feat(statuses): Save status data in database
  backend/.local-resources/opa/conf.yaml
  backend/.local-resources/opa/status.json
  backend/.local-resources/opa/status2.json
  backend/gqlgen.yml
  backend/graphql/schema.graphql
  backend/graphql/status.graphql
  backend/pkg/opa-center/business/services.go
  backend/pkg/opa-center/business/statuses/client.go
  backend/pkg/opa-center/business/statuses/daos/client.go
  backend/pkg/opa-center/business/statuses/daos/doc.go
  backend/pkg/opa-center/business/statuses/daos/mappers.go
  backend/pkg/opa-center/business/statuses/daos/mappers_test.go
  backend/pkg/opa-center/business/statuses/daos/models/doc.go
  backend/pkg/opa-center/business/statuses/daos/models/status.go
  backend/pkg/opa-center/business/statuses/daos/service.go
  backend/pkg/opa-center/business/statuses/doc.go
  backend/pkg/opa-center/business/statuses/models/doc.go
  backend/pkg/opa-center/business/statuses/models/general.go
  backend/pkg/opa-center/business/statuses/models/status.go
  backend/pkg/opa-center/business/statuses/service.go
  backend/pkg/opa-center/server/graphql/generated/generated.go
  backend/pkg/opa-center/server/graphql/mappers/id-prefixes.go
  backend/pkg/opa-center/server/graphql/model/models_gen.go
  backend/pkg/opa-center/server/graphql/schema.resolvers.go
  backend/pkg/opa-center/server/graphql/status.resolvers.go
  backend/pkg/opa-center/server/opa-publisher-server.go
  backend/pkg/opa-center/server/rest/status.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

chore: Add new redirect uri in local Keycloak
  backend/.local-resources/keycloak/realm-export.json
Due: none

fix(graphql): Fix graphql model
  backend/graphql/decision-log.graphql
  backend/graphql/partition.graphql
  backend/graphql/schema.graphql
  backend/graphql/status.graphql
  backend/pkg/opa-center/server/graphql/generated/generated.go
  backend/pkg/opa-center/server/graphql/partition.resolvers.go
  backend/pkg/opa-center/server/graphql/schema.resolvers.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

fix(server:graphql): Fix projection for partitions
  backend/pkg/opa-center/server/graphql/schema.resolvers.go
Due: backend-lint

feat(graphql): Rework graphql partitions for opa configuration generation
  backend/graphql/partition.graphql
  backend/graphql/schema.graphql
  backend/pkg/opa-center/server/graphql/generated/generated.go
  backend/pkg/opa-center/server/graphql/partition.resolvers.go
  backend/pkg/opa-center/server/graphql/schema.resolvers.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

fix(deps): pin dependencies
  backend/tools/voyager/package.json
  backend/tools/voyager/yarn.lock
Due: none

chore(deps): update module gorm.io/gorm to v1.20.7
  backend/go.mod
  backend/go.sum
Due: none

chore(deps): update precommit hook pre-commit/pre-commit-hooks to v2.5.0
  .pre-commit-config.yaml
Due: none

feat: Add simple UI
  opa-center.code-workspace
  ui/.gitignore
  ui/README.md
  ui/package.json
  ui/public/favicon.ico
  ui/public/index.html
  ui/public/logo192.png
  ui/public/logo512.png
  ui/public/manifest.json
  ui/public/robots.txt
  ui/src/client.js
  ui/src/components/CenterLoadingSpinner/CenterLoadingSpinner.js
  ui/src/components/CenterLoadingSpinner/index.js
  ui/src/components/GraphqlErrors/GraphqlErrors.js
  ui/src/components/GraphqlErrors/index.js
  ui/src/components/PageTitle/PageTitle.js
  ui/src/components/PageTitle/index.js
  ui/src/components/TablePagination/TablePagination.js
  ui/src/components/TablePagination/index.js
  ui/src/components/TopBar/TopBar.js
  ui/src/components/TopBar/index.js
  ui/src/index.css
  ui/src/index.js
  ui/src/reportWebVitals.js
  ui/src/routes.js
  ui/src/routes/DecisionLogs/DecisionLogs.js
  ui/src/routes/DecisionLogs/components/DecisionLogCard/DecisionLogCard.js
  ui/src/routes/DecisionLogs/components/DecisionLogCard/index.js
  ui/src/routes/DecisionLogs/index.js
  ui/src/routes/Partitions/Partitions.js
  ui/src/routes/Partitions/components/PartitionCard/PartitionCard.js
  ui/src/routes/Partitions/components/PartitionCard/index.js
  ui/src/routes/Partitions/index.js
  ui/src/routes/Statuses/Statuses.js
  ui/src/routes/Statuses/components/StatusCard/StatusCard.js
  ui/src/routes/Statuses/components/StatusCard/index.js
  ui/src/routes/Statuses/index.js
  ui/src/setupProxy.js
  ui/src/setupTests.js
  ui/yarn.lock
Due: none

chore(deps): update golang.org/x/oauth2 commit hash to 9fd6049
  backend/go.mod
  backend/go.sum
Due: none

chore(deps): update precommit hook pre-commit/pre-commit-hooks to v3
  .pre-commit-config.yaml
Due: none

feat: Add authentication configuration for ui development
  backend/conf/authx.yaml
Due: none

chore: Add script for full release
  backend/.goreleaser.yml
  backend/Dockerfile
  build-cross.sh
  build-release.sh
  release.config.js
Due: none

fix(partitions): Fix opa configuration template
  backend/pkg/opa-center/business/partitions/template.go
Due: backend-lint

fix(deps): pin dependencies
  ui/package.json
  ui/yarn.lock
Due: none

fix(deps): update dependency @apollo/client to v3.2.9
  ui/package.json
  ui/yarn.lock
Due: none

fix(deps): update dependency @monaco-editor/react to v3.7.1
  ui/package.json
  ui/yarn.lock
Due: none

fix(deps): update dependency react-scripts to v4.0.1
  ui/package.json
  ui/yarn.lock
Due: none

chore: Clean backend dependencies
  backend/go.mod
  backend/go.sum
Due: none

feat: Add lock distributor package
  backend/cmd/opa-center/main.go
  backend/go.mod
  backend/go.sum
  backend/pkg/opa-center/config/config.go
  backend/pkg/opa-center/config/managercontext.go
  backend/pkg/opa-center/config/managercontext_integration_test.go
  backend/pkg/opa-center/lockdistributor/client.go
  backend/pkg/opa-center/lockdistributor/distributor.go
  backend/pkg/opa-center/lockdistributor/doc.go
  backend/pkg/opa-center/lockdistributor/lock.go
  backend/pkg/opa-center/lockdistributor/mocks/mock_Lock.go
  backend/pkg/opa-center/lockdistributor/mocks/mock_Service.go
Due: backend-lint

chore: Upgrade base project
  .project
  backend/graphql/utils.graphql
  backend/pkg/opa-center/authx/authentication/service_integration_test.go
  backend/pkg/opa-center/database/common/filter-models.go
  backend/pkg/opa-center/database/common/filter-models_test.go
  backend/pkg/opa-center/database/common/filter.go
  backend/pkg/opa-center/database/common/filter_test.go
  backend/pkg/opa-center/lockdistributor/mocks/mock_Lock.go
  backend/pkg/opa-center/server/graphql/generated/generated.go
  backend/pkg/opa-center/server/graphql/utils/projection.go
  backend/pkg/opa-center/server/graphql/utils/utils.go
  backend/pkg/opa-center/server/internal-server.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

feat(partitions): Begin retention process work
  backend/conf/center.yaml
  backend/go.mod
  backend/go.sum
  backend/graphql/partition.graphql
  backend/pkg/opa-center/business/partitions/models/general.go
  backend/pkg/opa-center/business/partitions/models/partition.go
  backend/pkg/opa-center/business/partitions/service.go
  backend/pkg/opa-center/config/config.go
  backend/pkg/opa-center/server/graphql/generated/generated.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

chore: Upgrade pglock dependency for bug #18
  backend/go.mod
  backend/go.sum
Due: none

feat: Finish retention clean task
  backend/cmd/opa-center/main.go
  backend/conf/center.yaml
  backend/pkg/opa-center/business/decisionlogs/client.go
  backend/pkg/opa-center/business/decisionlogs/daos/client.go
  backend/pkg/opa-center/business/decisionlogs/daos/service.go
  backend/pkg/opa-center/business/decisionlogs/service.go
  backend/pkg/opa-center/business/partitions/client.go
  backend/pkg/opa-center/business/partitions/retention-clean-task.go
  backend/pkg/opa-center/business/partitions/service.go
  backend/pkg/opa-center/business/services.go
  backend/pkg/opa-center/business/statuses/client.go
  backend/pkg/opa-center/business/statuses/daos/client.go
  backend/pkg/opa-center/business/statuses/daos/service.go
  backend/pkg/opa-center/business/statuses/service.go
Due: backend-lint

feat: Add better support for filters
  backend/graphql/decision-log.graphql
  backend/graphql/partition.graphql
  backend/graphql/status.graphql
  backend/pkg/opa-center/business/decisionlogs/models/general.go
  backend/pkg/opa-center/business/partitions/models/general.go
  backend/pkg/opa-center/business/statuses/models/general.go
  backend/pkg/opa-center/server/graphql/generated/generated.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check
