Repository oxyno-zeta/opa-center: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

backend-lint:
  name: Backend Lint
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/lint
  require_serial: true
  language: script

backend-graphql-concat:
  name: Backend graphql concat
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/graphql/concat
  require_serial: true
  language: script

backend-graphql-no-break-check:
  name: Backend graphql no breaking check
  entry: ./run-sub-folder-task.sh
  args:
  - backend
  - make code/graphql/no-break-check
  require_serial: true
  language: script

fix(partitions): Add validation for retention duration inputs
  backend/pkg/opa-center/business/partitions/service.go
Due: backend-lint

feat: Change cron dependency to a better one
  backend/conf/center.yaml
  backend/go.mod
  backend/go.sum
  backend/pkg/opa-center/business/partitions/retention-clean-task.go
  backend/pkg/opa-center/business/partitions/service.go
  backend/pkg/opa-center/log/cron-logger.go
  backend/pkg/opa-center/log/instance.go
  backend/pkg/opa-center/log/log.go
Due: backend-lint

fix(partitions): Fix limit of partitions find for retention clean task
  backend/pkg/opa-center/business/partitions/retention-clean-task.go
Due: backend-lint

feat(partitions): Add Update partition method
  backend/gqlgen.yml
  backend/graphql/partition.graphql
  backend/graphql/schema.graphql
  backend/pkg/opa-center/business/partitions/client.go
  backend/pkg/opa-center/business/partitions/models/general.go
  backend/pkg/opa-center/business/partitions/service.go
  backend/pkg/opa-center/server/graphql/generated/generated.go
  backend/pkg/opa-center/server/graphql/model/models_gen.go
  backend/pkg/opa-center/server/graphql/schema.resolvers.go
  backend/tools/graphql-inspector/validation.graphql
Due: backend-lint, backend-graphql-concat, backend-graphql-no-break-check

feat(partitions): Add authentication per partition
  backend/.local-resources/opa/conf.yaml
  backend/pkg/opa-center/business/partitions/client.go
  backend/pkg/opa-center/business/partitions/models/general.go
  backend/pkg/opa-center/business/partitions/models/partition.go
  backend/pkg/opa-center/business/partitions/service.go
  backend/pkg/opa-center/business/partitions/template.go
  backend/pkg/opa-center/server/graphql/schema.resolvers.go
  backend/pkg/opa-center/server/rest/decision-logs.go
  backend/pkg/opa-center/server/rest/status.go
Due: backend-lint

chore(deps): update golang.org/x/sync commit hash to 09787c9
  backend/go.mod
  backend/go.sum
Due: none

fix(log): Change labels on cron logs
  backend/pkg/opa-center/log/instance.go
Due: backend-lint

feat: Display retentions on partition card
  ui/src/routes/Partitions/Partitions.js
  ui/src/routes/Partitions/components/PartitionCard/PartitionCard.js
Due: none

fix(partitions): Fix validation name regex to remove uppercase characters
  backend/pkg/opa-center/business/partitions/service.go
Due: backend-lint

fix(partitions): Fix validation name regex
  backend/pkg/opa-center/business/partitions/service.go
Due: backend-lint

fix(ui): Fix pagination for partitions
  ui/src/routes/Partitions/Partitions.js
Due: none

feat(ui): Add create partition modal
  ui/package.json
  ui/src/routes/Partitions/Partitions.js
  ui/src/routes/Partitions/components/CreatePartition/CreatePartition.js
  ui/src/routes/Partitions/components/CreatePartition/index.js
  ui/yarn.lock
Due: none

chore: Add ui lint in pre-commit
  .pre-commit-config.yaml
  ui/package.json
Due: none

fix(ui): Fix statuses cache policy for statuses
  ui/src/client.js
Due: none

fix(ui): Fix display of decision logs retention
  ui/src/routes/Partitions/components/PartitionCard/PartitionCard.js
Due: none

feat(ui): Add edit partition feature
  ui/src/routes/Partitions/Partitions.js
  ui/src/routes/Partitions/components/PartitionCard/PartitionCard.js
  ui/src/routes/Partitions/components/UpdatePartition/UpdatePartition.js
  ui/src/routes/Partitions/components/UpdatePartition/index.js
Due: none

docs: Add message to explain that doc isn't up-to-date
  README.md
Due: none

chore(backend): Remove dead code
  backend/cmd/opa-center/main.go
  backend/pkg/opa-center/config/config.go
  backend/pkg/opa-center/config/managercontext.go
  backend/pkg/opa-center/config/managercontext_integration_test.go
  backend/pkg/opa-center/lockdistributor/client.go
  backend/pkg/opa-center/lockdistributor/distributor.go
  backend/pkg/opa-center/lockdistributor/doc.go
  backend/pkg/opa-center/lockdistributor/lock.go
  backend/pkg/opa-center/lockdistributor/mocks/mock_Lock.go
  backend/pkg/opa-center/lockdistributor/mocks/mock_Service.go
Due: backend-lint

tests(config): Fix configuration integration tests
  backend/pkg/opa-center/config/managercontext_integration_test.go
Due: backend-lint

ci: Add CircleCI configuration
  .circleci/config.yml
  backend/.golangci.yaml
Due: none

docs: Add CONTRIBUTING guide
  CONTRIBUTING.md
Due: none

docs: Add templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: none

docs: Add CODE_OF_CONDUCT
  .github/CODE_OF_CONDUCT.md
Due: none

ci: Add github actions
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/size.yml
  .github/workflows/stale.yml
Due: none

docs: General documentation
  DEVELOPER.md
  README.md
  backend/conf/authx.yaml
  backend/pkg/opa-center/config/config.go
  docs/authorizations.md
  docs/configuration.md
  docs/opa-formats.md
  opa-center.code-workspace
Due: backend-lint

chore: Edit stale action configuration
  .github/workflows/stale.yml
Due: none

docs(backend): Update README
  backend/README.md
Due: none

chore(backend): Clean dead code
  backend/pkg/opa-center/authx/authorization/client.go
  backend/pkg/opa-center/authx/authorization/middleware.go
  backend/pkg/opa-center/authx/authorization/service.go
  backend/pkg/opa-center/authx/authorization/service_test.go
Due: backend-lint

chore(backend): Clean dependencies
  backend/go.mod
  backend/go.sum
Due: none

docs(ui): Update README
  ui/README.md
Due: none

Path conditions:
  backend-lint: any of: \.go$
  backend-graphql-concat: any of: \.graphql$
  backend-graphql-no-break-check: any of: \.graphql$
